# ignore everything
/*
/*/

# ... but these:
!/Mackup/
!/nvim/
!/zsh/
!/bin/
!/simple/
!/clash/
!/fish/
!/karabiner/
!/tmux/
!/.tmux.conf
!/vimium-options.json
!/README.md
!/README_cn.md
!/.gitignore
